.profile {
    &-card {
        width: 320px;
        height: 220px;
        background-color: white;
        border-radius: 10px;

        &__top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1rem 2rem 1rem 2rem;
        }
        &__avatar {
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            width: 5.5rem;
            height: 5.5rem;
          
        }

        &__more {
            font-size: 2.5rem;
            display: flex;
            

        }

        &__bottom {
            display: flex;
            flex-direction: column;
            margin: 0 2rem 0 2rem;
        }

        &__name {
            font-size: 1.3rem;
            font-weight: 500;
        }

        &__position {
            font-size: .9rem;
            font-weight: 400;
            color: #A0A0A0;
        }
    }
}