.main {
    &-container {
        display: flex;
        width: 100vw;
        flex-direction: column;


        &__one {
            display: flex;
            display: flex;
            gap: 1rem;
        }

        &__bottom {
            padding: 1rem 1rem 1rem 1.5rem;
            background-color: #eaeaea;
            display: flex;
            display: flex;
            gap: 1rem;
            border-left: 3px solid #e4e2e2;
        }

        &__left {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }



    }
}

