.top {
    width: 100%;
}

.container-dash {
    background-color:  #D6D6D6;
    display: flex;
    padding: 1rem;
   


    &__right {
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;
        gap: 1rem;


        &-inside {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;

        }
    }

    &__left {
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;

    
    }
}
.michael {
    background-repeat: none;
 
}





.donut {
    width: 100%;


}

