.paper {
    background-color: white;
    width: 320px;
    height: 386px;
    border-radius: 10px;

    &__top {

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.7rem 1rem 2rem;
        &-heading {
            font-size: 1.3rem;
            font-weight: 500;

        }

        &-more {
            color: #A0A0A0;
            font-size: 2.5rem;
           
        }

        &-list {
            display: flex;
            align-items: center;
        }

      
    }

    &__middle {
        display: flex;
        padding: 0 2rem 0 2rem;
        flex-wrap: wrap;
        gap: .5rem;
        justify-content: space-between;
        font-size: .9rem;
    }

    &__bottom {
        margin: 1rem 1rem 1rem 1.5rem;
    }

}