.questions {
    background-color: #D6D6D6;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0 2rem 0;
   
}

.q-img {
    height: 157px;
    width: 563px;
}