.employee-cards{
    padding: 1rem;
    background-color: #D6D6D6;
    padding: 1rem;
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
    
    // &__section{
    // }

    &__top{
        // position: absolute;
        // top: 20;
        margin: 1rem;
        display: inline-flex;
        max-width: max-content;
        
    }
    
    &__bottom{
        margin: 1rem;
        display: inline-flex;
    }
}

.container{
    display: block;
    flex-grow: 1;
}