.img1{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    padding: 1rem;
    margin: 1rem;
    width: 50vh;
    // width: 46vh;
}
.employee-cards{
    // padding: 1rem;
    // margin: 1rem;
    background-color: #D6D6D6;
    // padding: 1rem;
    display: flex;
    // margin-top: 1rem;
    flex-wrap: wrap;
    
    &__section{
        width: 85vw;
        display: flex;
        justify-content: space-evenly;
        background-color: #ececec;
        // padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        position: relative;

    }
    
    &__section{
        display: flex;
        justify-content: space-evenly;
        background-color: #ececec;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        position: relative;

    &__top{
        // position: absolute;
        top: 20;
        margin: 1rem;
        display: inline-flex;
        max-width: max-content;
        
    }
    
    &__top-left{
        margin: .25rem;
        padding: 1rem;
    
        
    }
    &__top-right{
        margin: .25rem;
    }
    &__bottom-left{
        margin: .25rem;
    }
    &__bottom-right{
        margin: .25rem;
    }
}

.container-2{
    display: block;
}
}