.notifications {
    background-color: white;
    width: 500px;
    height: 386px;
    border-radius: 10px;

    &__top {
        margin: 1rem;;
        &-heading {
            font-size: 2rem;
            color: #53565A;
            font-weight: 500;
            display: flex;
            justify-content: center;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        gap: 2rem;
        align-items: center;
        &-list {
            display: flex;
            flex-direction: column;
        }

        &-date {
            font-size: 1rem;
            color:#077b77;
            font-weight: 500;
            margin: 0 0 0 1rem;
        }

        &-p {
            font-size: .9rem;
            color: #A0A0A0;
            font-weight: 500;
            display: flex;
            align-items: center;
        }

        &-buttons {
            display: flex;
            justify-content: center;
            gap: .5rem;
        }

        &-snooze {
            width: 90px;
            height: 22px;
            border: none;
            font-size: .7rem;
            background-color: #e2eaea;
            color:#05605d;
            border-radius: 2px;
        }

        &-view {
            width: 90px; 
            border: none;
            font-size: .7rem;
            color: #53565A;
            background-color: #87ddda;
            border-radius: 2px;
        }
    }
}