.notifications {
    background-color: white;
    width: 500px;
    height: 386px;
    border-radius: 10px;

    &__top {
        margin: 1rem;;
        &-heading {
            font-size: 2rem;
            color: #53565A;
            font-weight: 500;
            display: flex;
            justify-content: center;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        gap: 2rem;
        align-items: center;
        &-list {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        &-item {
            display: flex;
            flex-direction: column;
            gap: .3rem;
        }

        &-date {
            font-size: 1rem;
            color:#077b77;
            font-weight: 500;
            margin: 0 0 0 1rem;
        }

        &-p {
            font-size: .9rem;
            color: #A0A0A0;
            font-weight: 500;
            display: flex;
            align-items: center;
        }

        &-buttons {
            display: flex;
            justify-content: center;
            gap: .5rem;
        }

        &-snooze {
            width: 90px;
            height: 22px;
            border: none;
            font-size: .7rem;
            background-color: #e2eaea;
            color:#05605d;
            border-radius: 2px;
            cursor: pointer;
        }

        &-snooze:hover {
            background-color: #077b77;
            color: white;
        }

        &-view {
            width: 90px; 
            border: none;
            font-size: .7rem;
            color: #53565A;
            background-color: #87ddda;
            border-radius: 2px;
            cursor: pointer;
        }

        &-view:hover {
            background-color: #077b77;
            color: white;
        }
    }
}

.notmodal {
    &-box {
        width: 100%;
        height: 80%;
        padding-top: 2rem;
        padding: 1rem .5rem 1rem .5rem;
    }

    &__heading {
        font-size: 1.2rem;
    }

    &-top {
        display: flex;
        justify-content: flex-end;
        justify-content: space-between;
        padding: 1rem 1rem 0 1rem;
    }

    &-bottom {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
       &__emp {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              padding:1rem;
              align-items: center;      
       }

       &__message {
              font-size: 1rem;
              color: #53565A;
              padding: 2rem;
              border-radius: 5rem;
              background-color: #f1efef;
       }
    }
}

.smodal {
    &__box {
        width: 100%;
        height: 80%;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &__sorry {
        font-weight: 500;
        font-size: 2rem;
        color: rgb(174, 4, 4);
    }
    
}