.surveys {
    width: 100%;

    &-modal {
        &__bottom {
            padding: 1rem;
        }

        &__det {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-bottom: 1rem;
        }
        &__date {
            color: #075d5a;
            font-weight: 700;
            font-size: 1.1rem;
        }

        &__header {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 0 2rem 0;
        }

        &__q {
            font-weight: 700;
            color: #525757;
            font-size: 1.3rem;
        }

        &__p {
            font-size: 1rem;
            color: #53565A;
            padding: 2rem;
            border-radius: 5rem;
            background-color: #f1efef;
        }


    }

    &-main {
        height: 100%;
        border-left: 3px solid #e4e2e2;
        background-color: #eaeaea;
        justify-content: center;
        padding: 1rem ;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        border-left: 3px solid #e4e2e2;

        &__cont {
            width: 480px;
            height: 140px;
            background-color: white;
            border-radius: 20px;
            border: 3px solid #dae5e0;
            padding: 1rem;
            display: flex;
        }

        &__left {
            width: 280px;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
        }

        &__button {
            width: 120px;
            height: 35px;
            border-radius: 10px;
            border: 2px solid #076966;
            background-color: white;
            font-weight: 800;
            color: #075d5a;
            font-size: .9rem;
            cursor: pointer;

            &:hover {
                background-color: #076966;
                color: white;
            }
        }

        &__question {
            color: #075d5a;
            font-weight: 700;
            font-size: 1.1rem;
        }

        &__right {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
            border-left: 1px solid #dae5e0;
        }
 
        &__ap {
            font-weight: 700;
            color: #525757;
            font-size: 1.1rem;
        }
        
        &__img {
            height: 35px;
            width: 35px;
        }

        &__top {
            display: flex;
            gap: 1rem;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            width: 150px;
        }

        &__polarity {
            font-size: 1.5rem;
            font-weight: 700;
            color: #075d5a;
        }
    }

  
}