.donut-card {
    width: 320px;
    height: 386px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 0 2rem 0 2rem;

    &__top {
        display: flex;
        align-items: flex-start;
        

        &-heading {
            font-size: 22px;
            font-weight: 600;
            text-align: center;
            padding-left: 55px;
            color: black;
        }

        &-dots {
            padding-right: 22.5px;
            padding-left: 30.67px;
            padding-top: 7px;
        }
    }
}