@use './styles/typography' as *;


* {
    font-family: 'Volte';
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h3 {
    color:#53565A;
}

.main {
    display: flex;
    align-items: flex-start;
   
}