.donut {
    width: 227px;
    height: 227px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    color: white;
    font-size: 5rem;

=======
    margin-bottom: 62px;

    &__number {
        font-size: 6rem;
        font-weight: 600;
        color: white;
    }
>>>>>>> d188744d618dfa70606f917789acaca7aa406bff
}