@use '../../styles/typography' as *;

h3 {
    font-size: 1.3125rem;
    font-weight: 100;
    color: 53565A;
}
.nav {
    width:20vw ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid grey;


    &__logo {
        width: 91px;
        height: 52px;
    }
    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        gap: 1rem;
    }

    &__sec{
        width: 100%;
        height: 52px;
        justify-content: flex-start;
        align-items: center;
       display: flex;

       gap: 1rem;

       
   

       &-icon {
        width: 24px;
        height: 24px;
      
       }

     

       &-hr {
        border: 1px solid #53565A;
        width: 100%;
       
       }

       &--help {
        margin-top: 2rem;
       }

    
    }
    &__bottom {
        margin: 2rem 0 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
}